@import "tailwindcss";
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.pt-30{
  padding-top: 15vh;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #050A30;
  cursor: url('./assets/Icons/apple-cursor.svg');
}

.bg-image-iPhone{
  background-image: url('/src/assets/bg-all.webp');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .bg-image-iPhone {
    background-image: url('/src/assets/bg-phone.webp');
  }
  .shop-bg {
    background-image: url('/src/assets/bg-phone.webp');
  }
}


